FLASK_ENV=develop
APP_HOST=localhost
APP_PORT=8000

# SQLAlchemy Config
SQLALCHEMY_DIALECT=mysql
SQLALCHEMY_DRIVER=pymysql
SQLALCHEMY_HOSTNAME=localhost
SQLALCHEMY_PORT=3306
SQLALCHEMY_DBNAME=flask_test
SQLALCHEMY_USERNAME=flask_test
SQLALCHEMY_PASSWORD=123456
SQLALCHEMY_ROOT_PASSWORD=root
SQLALCHEMY_ECHO=True

# Design SQLAlchemy Config
DESIGN_SQLALCHEMY_DIALECT=mysql
DESIGN_SQLALCHEMY_DRIVER=pymysql
DESIGN_SQLALCHEMY_HOSTNAME=localhost
DESIGN_SQLALCHEMY_PORT=3306
DESIGN_SQLALCHEMY_DBNAME=v_design_db
DESIGN_SQLALCHEMY_USERNAME=root
DESIGN_SQLALCHEMY_PASSWORD=root


# auth
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=